In [346]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns
#from IPython.core.debugger import Tracer
#import scipy as sp

from pylab import rcParams
rcParams['figure.figsize'] = 5, 8

%matplotlib inline

# Exercise One

In [354]:
h = pd.read_csv('Hitters.csv', index_col=0)
h.shape

(322, 20)

In [355]:
h[:3]

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
Name,,,,,,,,,,,,,,,,,,,,
-Andy Allanson,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
-Alan Ashby,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
-Alvin Davis,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A

In [356]:
# remove rows w/ empty values - i think this is only those w/ no salary
h = h.dropna()
h.shape

(263, 20)

In [360]:
# convert categorical vars to dummy variables
h = pd.get_dummies(h)
h.shape

(263, 23)

While the homework doesn't state it specifically, I assume here that we're predicting salary, since that's what we've done previously.

In [368]:
# split into features and the value to predict (x and y)
# scale all features so each col has mean zero and std 1
x_scaled = preprocessing.scale(h.drop('Salary', axis=1))
y = h['Salary'].as_matrix()

(x_scaled.shape, y.shape)

((263, 22), (263,))

TODO break into train/test, using train_test_split likely - see lab